<div class="footer">
  <div class="wrapper">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fa.png?alt=media&token=2162ebeb-3ae8-4c75-ab08-9a05e3a05aca">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fb.png?alt=media&token=bc2d2b8c-0d29-4504-aa8c-079998ff08a1">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fc.png?alt=media&token=918baaad-f7a2-4b38-857d-10712435640f">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fd.png?alt=media&token=489d2e9e-49f9-4bce-ae6d-f9e9b457a754">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fe%20(Custom).png?alt=media&token=28c1de4b-f947-46a1-b7d7-0f2a30618e6f">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Ff.png?alt=media&token=65ec3708-b634-4ce6-9f1d-55ada5c04f1f">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fg.png?alt=media&token=00df0f31-73d3-4a92-8ee4-7019f372fd18">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fh.png?alt=media&token=bc8a645a-395d-4326-b49f-623959dbfcb3">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fi.png?alt=media&token=5d29cdd3-f1e6-44ad-8d06-18ed9bdef9ee">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2FJC.png?alt=media&token=961b8ef2-25ea-4c42-af45-c7ac26b5401b">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fk.png?alt=media&token=abf11305-c967-4556-a4bb-10f677b9caa9">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fl.png?alt=media&token=131580a6-a9d0-48b7-8cb8-64758c767ae8">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2FMC.png?alt=media&token=7933a85c-916f-4cf6-a65f-efa341496951">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fn.png?alt=media&token=3bf4160b-ddd6-491d-b088-d419e6689959">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fo.png?alt=media&token=0dc0ceb1-b67f-42ca-8a39-5e1efd5c5b5b">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fp.png?alt=media&token=2289cf3f-b9fc-4749-9195-95f69c19082d">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fq.png?alt=media&token=44083c37-a760-4593-902a-0855e56b252f">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fr.png?alt=media&token=ab0df89a-53ab-4303-acc8-6a9a28d4a8ac">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fs.png?alt=media&token=0c41ff93-f8c2-452b-91a7-dcf4f6856109">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Ft.png?alt=media&token=14942677-629d-4610-9f23-a32c965fabb2">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2FWC.png?alt=media&token=7dfce01d-aca5-4f51-8cc7-7f3246441f1e">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fx.png?alt=media&token=8c1f766b-e63a-4d66-ab36-19e0241b823e">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fy.png?alt=media&token=b65935af-cf7d-4fde-a35d-874205795119">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fz.png?alt=media&token=08354792-458f-414a-91da-de34216df796">
 </div>
</div>
