
<div class="footer">
  <div class="wrapper">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Social_networks%2F%D7%90%D7%99%D7%A0%D7%A1%D7%98%D7%92%D7%A8%D7%9D.png?alt=media&token=5779182f-8e57-4ef5-b737-606189cdcd20">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Social_networks%2F%D7%95%D7%95%D7%90%D7%A6%D7%90%D7%A4.png?alt=media&token=f2947632-ac4e-48fb-9a93-ae2504fc793d">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Social_networks%2F%D7%98%D7%95%D7%95%D7%99%D7%98%D7%A8.png?alt=media&token=d208f4e8-72b2-4ff2-842c-7c0df096d95b">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Social_networks%2F%D7%A1%D7%A7%D7%99%D7%99%D7%A4.png?alt=media&token=6bf1c325-6acc-4c6b-a215-c2150e57c980">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Social_networks%2F%D7%A4%D7%99%D7%99%D7%A1.png?alt=media&token=68289d62-1b0d-4a53-8964-3632c9b62f22">

   
 </div>
</div>
