<div class="footer">
  <div class="wrapper">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F126840.svg?alt=media&token=1ca5d909-9420-4c4a-a5e4-cd55d251d7e3">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F126840.svg?alt=media&token=1ca5d909-9420-4c4a-a5e4-cd55d251d7e3">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F148128.svg?alt=media&token=ed843da3-6957-4f62-bfa7-d18d5096e700">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F148161.svg?alt=media&token=5f5d81e7-d0cc-45c5-8e2c-538722157c2d">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F148206.svg?alt=media&token=035ecf3d-d4d2-4579-8eb7-2feb3424a30b">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F150388.svg?alt=media&token=59f37f17-7b8b-4270-93ed-d864b9d3d3ea">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F150400.svg?alt=media&token=b78c0a19-9e11-4185-9a21-beea81133417">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F164481.svg?alt=media&token=e98fc219-06e6-4cea-9d2e-47b9692a0b31">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F186524.svg?alt=media&token=d4d5e375-e96e-4270-a715-33675f660ccc">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F187970.svg?alt=media&token=984e9a76-a4f3-493e-9d71-0970fdb55e75">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F189946.svg?alt=media&token=d80b234e-7d3f-4be9-9857-f923386223ac">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F204342.svg?alt=media&token=b1bff4ff-0f34-4bc7-a465-1dafd4292c9d">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F204342.svg?alt=media&token=b1bff4ff-0f34-4bc7-a465-1dafd4292c9d">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F456678.png?alt=media&token=28a8e50a-d38e-41c3-965d-62dfea974ba5">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F524492.svg?alt=media&token=3ed12e6d-f790-4c87-8393-17f2f62c5b36">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F607057.svg?alt=media&token=45cd1cf2-88a2-40f3-924e-79e07ad27612">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2F621787.svg?alt=media&token=82a8bbcb-21a4-40e8-88c7-34202f6574db">
  </div>
</div>
