<div class="footer">
  <div class="wrapper">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
   
 </div>
</div>
