<div class="footer">
  <div class="wrapper">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fazure.png?alt=media&token=1d706aac-a911-467a-9c48-ff35d9d50b17">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fblack.png?alt=media&token=82fea5a6-c32a-4d6c-87f1-c629a15a648d">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fblue.png?alt=media&token=e755008c-627b-484c-8978-93c2928ce5a1">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fbown.png?alt=media&token=b3a12375-e336-4998-9b65-29c4f0072271">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fgold.png?alt=media&token=b787ec09-1f5d-46f8-90a2-2ef8cae3dae1">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fgreen.png?alt=media&token=0a62d1b8-b70f-4011-b3aa-84185de63bd1">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fgrey.png?alt=media&token=c3beeb17-f736-46ec-98ba-bbb9075b798d">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Forange.png?alt=media&token=f6241f17-6b83-45cc-a90e-bc0ef770ee78">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fpink.png?alt=media&token=25be0e18-04a4-4ee6-a829-efb42571247b">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fpurple.png?alt=media&token=37bac8ee-3218-4770-a3c3-55d8a131bcc5">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fred.png?alt=media&token=47703121-7768-4ba9-8ff3-b6330961d41b">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fyellow.png?alt=media&token=2080ceea-34e6-463e-98f7-b0dc8b1d5500">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Colors%2Fmarkers.png?alt=media&token=faadd451-daba-40cc-9050-129645089486">

  </div>
</div>
