

<div class="footer">
  <div class="wrapper">
    <img class= "img" (click)=put_pic(https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F194953.png?alt=media&token=1e5e3874-fef2-479e-bfff-939c01d5b410) src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F194953.png?alt=media&token=1e5e3874-fef2-479e-bfff-939c01d5b410">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F194954.png?alt=media&token=71509882-7f2f-4a09-a152-c0f6b2aa5c62">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F194959.png?alt=media&token=b9a5e7ed-0832-4e4a-b2c8-f76d808f06a0">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F194974.png?alt=media&token=1d26a741-38d3-41b7-975a-1adde62a45c6">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Shapes%2F414840.png?alt=media&token=c9d4635b-41fb-4b60-98a8-6035b5ec8341">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F194976.png?alt=media&token=c2581036-20bb-4c46-b57a-c75c14c1bc49">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F194979.png?alt=media&token=2db5dad9-618c-4884-a847-06af67b13b51">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F194986.png?alt=media&token=2e8ab499-a3b3-47e9-86de-3ca4880f7273">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F311525.png?alt=media&token=ede92443-c234-4b39-a3a5-aef18a3cc7f1">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F352497.png?alt=media&token=e217bada-ac7c-43e1-b94c-5af7fc438039">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F355679.svg?alt=media&token=3af7e34c-0def-4c1e-96df-45df98c84a18">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F616599.svg?alt=media&token=49ba9afe-2808-482b-ad66-17b0b1a798a5">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F616710.png?alt=media&token=dc5b768b-bf63-4b1b-90ff-7f1ab417d2e8">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F616720.png?alt=media&token=2cad27f1-bb5d-465d-895e-15b8ded36198">
  </div>
</div>
