/*----- Genral Classes start ------*/
.footer {
	//background: #FCE8E8;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	margin: 0;
    padding: 0;
    position: absolute;
    width: 74%;
    height:48.6%;
    top:52.3%;
    left: 26.5%;
}

.wrapper,.copyright {
	padding: 20px;
	text-align: center;
}
hr{
	margin: 30px 20px;
	border-top:2px solid #1C1E26 ;
	border-bottom:2px solid #38404D;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}

/*Change circle size and color here*/
.img{
	width: 13%;
	height: 13.5%;
	line-height: 50px;
	text-align: center;
	color: black;
	padding: 1.2%;
	margin: 0.4%;
	color: black(250, 250, 250, 0.51);
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 20%;
	border:solid;
}

.social-icons.icon-circle .fa{ 
	border-radius: 20%;
}


.img:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.img:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}


 