<div class="footer">
  <div class="wrapper">
 <!--   <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Emotions%2F183601.svg?alt=media&token=af5b5baf-eff7-47a0-b7c6-b2043f439d00">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Emotions%2F187134.svg?alt=media&token=db51e3ab-0e92-4767-abc4-b4bf7e00aeac">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Emotions%2F187140.svg?alt=media&token=08a2db55-734f-4472-8d24-e60a5e490c45">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Emotions%2F187143.svg?alt=media&token=5e2cde4d-9a4e-403e-8c96-6c296fabdbcd">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Emotions%2F214225.svg?alt=media&token=d87ade8a-ce2c-4482-83d4-08dc1ba0a935">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Emotions%2F576803.svg?alt=media&token=c882f50d-edbb-458b-be20-b65d55680695">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Emotions%2F576827.svg?alt=media&token=93949206-1df5-4203-9346-b37d6db531d9">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Emotions%2F576866.svg?alt=media&token=b662792d-ec1b-4fc8-8fee-8101774cad40">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Emotions%2F637556.svg?alt=media&token=3985cf5d-478d-4920-833d-1d3b214fe48d">-->
  </div>
</div>
