<div class="footer">
  <div class="wrapper">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Games%2F%D7%91%D7%A8%D7%95%D7%95%D7%96.jpg?alt=media&token=dd02223b-28e1-4c8d-9214-5e71bbe01bad">
     <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Games%2F%D7%92%D7%95%D7%9C%D7%95%D7%AA.jpg?alt=media&token=8b74ddc0-c16e-4b75-a04a-05f37e329b63">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Games%2F%D7%92%D7%9C%D7%92%D7%9C%D7%99%D7%95%D7%AA.png?alt=media&token=684cc646-df6a-441d-b47f-59102a25f8a5">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Games%2F%D7%93%D7%95%D7%91%D7%99.png?alt=media&token=22676b89-7e77-41c7-a5e4-9a7403dc5532">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Games%2F%D7%97%D7%91%D7%9C.jpg?alt=media&token=d1a0a622-9049-4987-95d0-54451941a15c">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Games%2F%D7%9B%D7%93%D7%95%D7%A8%20%D7%99%D7%9D.png?alt=media&token=934c93c7-bc20-4633-9bc5-3e70c68057a7">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Games%2F%D7%9B%D7%93%D7%95%D7%A8.png?alt=media&token=3a36f8d8-fb99-4840-b8b3-b46f3495933e">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Games%2F%D7%A4%D7%90%D7%96%D7%9C.png?alt=media&token=003cd27d-43cb-4a0c-935d-5b6bebd6907e">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
    <img class= "img" src="">
 </div>
</div>
