<div class="footer">
  <div class="wrapper">
    <!--<img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Numbers%2F0.png?alt=media&token=ff2147cc-6a9e-4712-ba08-aedcc377ce47">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Numbers%2F1.png?alt=media&token=2d36975f-0f8d-4152-aea1-58f3cec51cca">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Numbers%2F4.png?alt=media&token=644a0003-a7b6-48c1-ab58-50f155a90b2d">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Numbers%2F5.png?alt=media&token=22f19f7f-3637-4451-8d8f-ed06b34f2c65">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Numbers%2F6.png?alt=media&token=f7054568-6a76-4a27-a25f-c93df57bf38e">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Numbers%2F7.png?alt=media&token=2826276b-0fd7-45aa-b9b1-eaef30dc28e5">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Numbers%2F8.png?alt=media&token=642739bf-fc08-4b35-a740-c0e50389ce6b">
    <img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Numbers%2F9.png?alt=media&token=3e95cbba-7baa-4071-b27d-8f1fc7158d81">

-->

 </div>
</div>
