<div class="body">
    <div class="main">
       <!-- <textarea class="massage"></textarea>-->
        <!--<img class="read" src="file:///C:/Users/shiraed/Downloads/voice-message-microphone-button%20(1).svg">-->
       <div class="massage" contenteditable=true style="border:1px solid black"></div>


        
        
        <button class="read">
    <img class="read1" src="https://image.flaticon.com/icons/svg/0/527.svg">
        </button>
        <button class="sent">
    <img class="sent1" src="https://image.flaticon.com/icons/png/512/510/510908.png">
        </button>
        <button class="change">change contact</button>
        <div class="contact"></div>
        <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/logo.JPG?alt=media&token=f7ef3990-0866-4ca0-95a0-d6cebc9eb6a8">
    </div>


    <div class="aside1">
        <h1 class="h1">Contact:</h1>
        <button class="contact1">
     <img (click)=add() class="add_contact" src="https://image.flaticon.com/icons/svg/60/60732.svg">
        </button>
        <button (click)=contacts() class="view">view all contacts</button>
    </div>


    <div class="aside">
        <h1 class="h1">Categories:</h1>


        <div class="wrapper">
            <img class="img" (click)=food() src="https://cdn1.iconfinder.com/data/icons/hotel-and-camping-50-linear-icons/29/hotel_and_camping_cutlery_2_dark_icon-512.png">
            <img class="img" (click)=colors() src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Actions-fill-color-icon.png">
            <img class="img" (click)=vehicle() src="http://www.newdesignfile.com/postpic/2009/06/car-inventory-icon_76312.png">
            <img class="img" (click)=shapes() src="https://image.flaticon.com/icons/svg/135/135052.svg">
            <img class="img" (click)=games() src="https://image.flaticon.com/icons/png/512/522/522102.png">
            <img class="img" (click)=emotions() src="https://image.flaticon.com/icons/svg/136/136362.svg">
            <img class="img" (click)=vegetables() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/vegetables%2F%D7%A7%D7%98%D7%92-%D7%99%D7%A8%D7%A7%D7%95%D7%AA.png?alt=media&token=60f41d03-cfe4-4d60-b168-5896d0f3c9b1">
            <img class="img" (click)=places() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Places%2Fkat-places.png?alt=media&token=6783e549-3818-455d-b4cc-022ab29aaed3">
            <img class="img" (click)=enimals() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Animals%2F%D7%A7%D7%98-%D7%97%D7%99%D7%95%D7%AA.jpg?alt=media&token=a655ff5f-efb9-4f8b-8067-a9e07b8fb3e5">
            <img class="img" (click)=social() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Social_networks%2Fkat-social.jpg?alt=media&token=8a72a58d-0951-4322-84e5-a09ae333c5d8">
            <img class="img" (click)=numbers() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Numbers%2Fkat-nmbers.png?alt=media&token=bfc3a1dc-0020-4c81-95a5-e001b1d0a006">
            <img class="img" (click)=letters() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Letters%2Fkat-letters.png?alt=media&token=3fa5e594-ce68-4331-afe5-40722cc230bb">
            <img class="img" (click)=cookware() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Cookware%2Fkat-cookware.jpg?alt=media&token=ef5bd081-b64c-49e2-8f4f-7e5f5d0a6f58">

         
           <!--צריך להוסיף את הדף של הקטגוריה ת-->
            <img class="img" (click)=fruits() src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Fruits%2F%D7%A7%D7%98%D7%92-%D7%A4%D7%A8%D7%95%D7%AA.png?alt=media&token=24c69beb-2bd1-4fc1-ad64-9d2e3b4bd064">

          <!--צריך לשנות את התמונות לתמונות של הקטגוריות-->
            <img class="img" (click)=housewares() src="https://image.flaticon.com/icons/svg/136/136362.svg">
        </div>
        <button class="add_cat">add category</button>
        </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>