



<div class="footer">
  <div class="wrapper">
<img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Shapes%2F571650.svg?alt=media&token=f206b85a-ca82-4427-b758-195ba8547040">
<img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Shapes%2F123.png?alt=media&token=ebc34284-4546-4461-a26e-cd8e6638e6af">
<img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Shapes%2F136362.svg?alt=media&token=8a502397-e537-4ea3-a4f3-0e1c7dafc5a3">
<img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Shapes%2F232397.png?alt=media&token=880050e6-6755-40c7-83c4-f8f9515b1d57">
<img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Shapes%2F414840.png?alt=media&token=c9d4635b-41fb-4b60-98a8-6035b5ec8341">
<img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Shapes%2F571650.svg?alt=media&token=f206b85a-ca82-4427-b758-195ba8547040">
<img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Shapes%2F123.png?alt=media&token=ebc34284-4546-4461-a26e-cd8e6638e6af">
<img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Shapes%2F136362.svg?alt=media&token=8a502397-e537-4ea3-a4f3-0e1c7dafc5a3">
<img class= "img" src="https://firebasestorage.googleapis.com/v0/b/imagetalk-76424.appspot.com/o/Shapes%2F262430.png?alt=media&token=4697e5c0-7417-4524-8b9d-1e4e62496e1b">
  </div>
</div>
